* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.startScreen {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 25px;
  border-radius: 10px;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn_options {
  width: 90%;
  background-color: #b8c9e6;
  margin: 10px 0px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  cursor: pointer;

}

.btn_options:hover {
  transition: 0.3s;
  background-color: #008CBA;
  color: whitesmoke;
}

.btn {
  width: 90%;
  background-color: #4CAF50;
  margin: 10px 0px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.btn_finish {
  width: 50%;
  background-color: #008CBA;
  margin: 10px 0px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  transition: 0.3s;
  background-color: black;
}

.btn_finish:hover {
  transition: 0.3s;
  background-color: #4CAF50;
  border: none;
}




.hidden {
  display: none;
}

.quiz-app-container {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
  border-radius: 10px;
  height: 500px;
  width: 600px;
}

#main>.quiz-app-container>h1,
#question,
h3,
.resultScreen {
  text-align: center;
  margin: 10px 0px;
}

.resultScreen {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
  border-radius: 10px;
  height: 250px;
  width: 400px;
  border: 2px solid black;
}

.resultScreen>h1 {
  margin-bottom: 20px;
}


.resultScreen {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  height: 260px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  /* overflow: visible !important; MAIN FIX */
}


.parent-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(./assets/img/Ai2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*======================LOADER */

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #d0d0d0;
  border-top: 5px solid blueviolet;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  /* margin: 10px auto; */
  position: absolute
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* ====================M2  for hiding question in first instance */
/* .parent-main {
    display: none; 
}

.parent-main.active {
    display: flex;
} */







.hidden {
  display: none !important;
}

#question {
    color: whitesmoke;
    font-size: 22px;
}
.name{color: #dfbbfe;
text-align: center;
}


/*COMPLETED QUIZ SCREEN  */
.completedQuiz{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(./assets/img/result2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Finalresult-mainCard {
  width: 100%;
  padding: 100px;
}
/* Banner */
.achievement-banner {
  background: linear-gradient(to right, #ffba00, #ff9500);
  padding: 15px 65px;
  /* padding-left: 70px; */
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

/* Main white card */
.result-card-modern {
  background: white;
  /* width: 80%; */
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.15);
  margin: auto 55px;
  
}

.title {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}

.subtitle {
  margin-bottom: 20px;
  text-align: center;
}


.summary-grid {
  display: flex;
  justify-content: space-between;
  gap: 25px; /*bcz gap sirf between sapce dekhta hi */
  margin-bottom: 30px;
}

.Performance-Summary{
  flex: 1;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 2px solid rgb(200, 197, 179);
  
}
.spaceing{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.spaceing .value {
    text-align: right;
    font-weight: bold;
}
.score-summary{
  flex: 1;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 2px solid rgb(200, 197, 179);
}

.progress-bar {
  background: #e4e4e4;
  height: 12px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0 20px;
}

.progress-fill {
  background: #39d353;
  height: 100%;
  border-radius: 20px;
}

.Percent-score-numeric {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.over-score {
  text-align: center;
  font-size: 14px;
  color: gray;
}


.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.back-btn {
  background: #e3e3e3;
}

.celebrate-btn {
  background: #ffbb00;
  font-weight: bold;
}



.back-btn,
.celebrate-btn {
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid rgb(203, 196, 196);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.back-btn:hover,
.celebrate-btn:hover {
  border-color: #4CAF50;   /* sirf color change ho, size same rahe */
  background-color: #4CAF50;
  color: white;
}
